<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
        <!--name of person, a color, a noun, and an adjective  -->
       <label for="person">Person:</label>
        <input type="text" name="person" placeholder="Person">
        <label for="color">Color</label>
        <input type="text" name="color" placeholder="Color">
        <label for="noun">Noun</label>
        <input type="text" name="noun" placeholder="Noun">
        <label for="adjective">Adjective</label>
        <input type="text" name="adjective" placeholder="Adjective">
        <input type="submit">
    </form>
</body>
</html>