<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>There once was a {{ color }} {{ noun }} sitting in the Devmountain Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adj }} way.</p>
<p>I found a {{noun}} that was {{color}}. It smelled like a {{adj}} {{person}}.</p>
</body>
</html>